@charset "UTF-8";

@font-face {
    font-family: 'PassionOne';
    src: url('../fonts/PassionOne-Regular.ttf');
}

@font-face {
    font-family: 'Sriricha';
    src: url('../fonts/Sriracha-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

/*Cabeçalho*/
header {
    height: 144px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 70px;
}

header h1 {
    font-family: 'PassionOne';
    font-size: 7em;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(206, 206, 206);
}

header p a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}
/*Cabeçalho*/

/*Conteudo Principal*/
main {
    padding: 50px 0;
}

main section {
    padding: 80px 30px;
    margin-bottom: 50px;
}

main section p {
    font-family: 'Sriricha';
    font-size: 4vw;
}

main section.two {
    background-image: url('../imagens/background001.jpg');
    background-attachment: fixed;
    background-size: cover;
}

main section div.text {
    width: 46vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

main .tree p, .five p{
    margin-bottom: 80px;
}

main section.four {
    background-image: url('../imagens/background002.jpg');
    background-attachment: fixed;
    background-size: cover;
}
/*Conteudo Principal*/
/*Rodapé*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}
/*Rodapé*/